body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8ff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#meme-preview {
  align-self: center;
  width: 400px;
  margin: 16px 0;
}

.meme-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

footer .footer-link {
  text-decoration: none;
  color: inherit;
}

footer {
  padding-bottom: 10px;
  background-color: #f8f8ff;
}
